In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

seed = 14

import pandas as pd
import numpy as np

from sklearn import feature_extraction
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

C:\Users\miguelangel.gutierre\AppData\Local\Temp\ipykernel_15188\1328932484.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
def load_and_select_data():
    data_df = pd.read_csv('./Empleados.csv')
    data_df = data_df[['DNI','Sexo','Edad','Oficina','NivelIngles','CosteMesAnterior',
                       'tipo_incorporacion','parent_company','seniority','HorasSemanales','Situacion']]

    data_df = data_df[~data_df.eq('unknown').any(1)]
    
    data_df = data_df.groupby('DNI').last().reset_index(drop = True)
    return(data_df)

Empleados = load_and_select_data()

In [3]:
Empleados.columns

Index(['Sexo', 'Edad', 'Oficina', 'NivelIngles', 'CosteMesAnterior',
       'tipo_incorporacion', 'parent_company', 'seniority', 'HorasSemanales',
       'Situacion'],
      dtype='object')

In [4]:
Empleados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557 entries, 0 to 556
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Sexo                557 non-null    object
 1   Edad                557 non-null    object
 2   Oficina             557 non-null    object
 3   NivelIngles         557 non-null    object
 4   CosteMesAnterior    557 non-null    float64
 5   tipo_incorporacion  557 non-null    object
 6   parent_company      557 non-null    object
 7   seniority           557 non-null    object
 8   HorasSemanales      557 non-null    int64
 9   Situacion           557 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 43.6+ KB

In [5]:
Empleados

,Sexo,Edad,Oficina,NivelIngles,CosteMesAnterior,tipo_incorporacion,parent_company,seniority,HorasSemanales,Situacion
0,M,18 a 20 años,Zaragoza,B2,2725.09,Trainee,BOSONIT,SENIOR,40,Baja Definitiva
1,F,36 a 40 años,Madrid,B2,606.90,Trainee,BOSONIT,FORMATION,35,Baja Definitiva
2,M,21 a 25 años,Madrid,B1,0.00,Trainee,BOSONIT,FORMATION,40,Baja Definitiva
3,M,31 a 35 años,Madrid,B1,1760.21,Trainee,BOSONIT,JUNIOR,25,Activo
4,F,31 a 35 años,Madrid,B2,2847.00,Mercado,BOSONIT,MIDIOR,40,Activo
...,...,...,...,...,...,...,...,...,...,...
552,M,26 a 30 años,Madrid,B2,4708.50,Trainee,BOSONIT,LEAD,40,Activo
553,M,31 a 35 años,Logroño,B1,556.90,Trainee,BOSONIT,FORMATION,40,Baja Definitiva
554,M,31 a 35 años,Madrid,B1,356.90,Trainee,BOSONIT,FORMATION,40,Baja Definitiva
555,M,31 a 35 años,Madrid,B1,4927.50,Mercado,BOSONIT,SENIOR,40,Activo
556,F,31 a 35 años,Logroño,B1,0.00,Trainee,BOSONIT,FORMATION,25,Baja Definitiva

In [6]:
def one_hot(df):
    cat_columns = ['Sexo','Edad','Oficina','NivelIngles','tipo_incorporacion','parent_company','seniority']
    cat_dict = df[cat_columns].to_dict(orient='records')
    
    vec = feature_extraction.DictVectorizer()
    cat_vector = vec.fit_transform(cat_dict).toarray()

    df_vector = pd.DataFrame(cat_vector)
    vector_columns = vec.get_feature_names_out()
    df_vector.columns = vector_columns
    df_vector.index = df.index

    df_one_hot = df.drop(cat_columns, axis=1)
    df_one_hot = df_one_hot.join(df_vector)
    
    return(df_one_hot)

Empleados_one_hot = one_hot(Empleados)
Empleados_one_hot

,CosteMesAnterior,HorasSemanales,Situacion,Edad=18 a 20 años,Edad=21 a 25 años,Edad=26 a 30 años,Edad=31 a 35 años,Edad=36 a 40 años,Edad=41 a 45 años,Edad=46 a 50 años,...,Sexo=M,parent_company=BOSONIT,parent_company=NXTGEN,seniority=FORMATION,seniority=JUNIOR,seniority=LEAD,seniority=MIDIOR,seniority=SENIOR,tipo_incorporacion=Mercado,tipo_incorporacion=Trainee
0,2725.09,40,Baja Definitiva,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,606.90,35,Baja Definitiva,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.00,40,Baja Definitiva,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1760.21,25,Activo,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,2847.00,40,Activo,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,4708.50,40,Activo,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
553,556.90,40,Baja Definitiva,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
554,356.90,40,Baja Definitiva,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
555,4927.50,40,Activo,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
556,0.00,25,Baja Definitiva,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
def label_to_binary_and_scale(df):  
    df['Situacion'] = df['Situacion'].map({'Baja Definitiva':0,'Activo':1})
    
    scaler = MinMaxScaler()
    scaled_df = scaler.fit_transform(df)

    scaled_df = pd.DataFrame(scaled_df,
                             columns = df.columns,
                             index = df.index)
    scaled_df = scaled_df.reset_index(drop = True)
    return(scaled_df)

Empleados_one_hot_scaled = label_to_binary_and_scale(Empleados_one_hot)
Empleados_one_hot_scaled

,CosteMesAnterior,HorasSemanales,Situacion,Edad=18 a 20 años,Edad=21 a 25 años,Edad=26 a 30 años,Edad=31 a 35 años,Edad=36 a 40 años,Edad=41 a 45 años,Edad=46 a 50 años,...,Sexo=M,parent_company=BOSONIT,parent_company=NXTGEN,seniority=FORMATION,seniority=JUNIOR,seniority=LEAD,seniority=MIDIOR,seniority=SENIOR,tipo_incorporacion=Mercado,tipo_incorporacion=Trainee
0,0.360950,1.00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.080387,0.75,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.000000,1.00,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.233147,0.25,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.377098,1.00,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,0.623661,1.00,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
553,0.073764,1.00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
554,0.047273,1.00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
555,0.652669,1.00,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
556,0.000000,0.25,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [8]:
def train_test(df):
    features = df.drop(['Situacion'],axis=1)
    labels = df['Situacion']

    X_train, X_test, y_train, y_test = train_test_split(features, labels,
                                                        test_size=0.20,
                                                        random_state=seed,
                                                        stratify=labels)
    return(X_train, X_test, y_train, y_test)

X_train, X_test, y_train, y_test = train_test(Empleados_one_hot_scaled)